USE [SupplyChain]
GO
/****** Object:  Table [dbo].[FactOrderItem]    Script Date: 30/05/2025 01:55:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactOrderItem](
	[FactOrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[OrderItemId] [int] NULL,
	[CustomerId] [int] NOT NULL,
	[ProductCardId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[LocationId] [int] NOT NULL,
	[ShippingId] [int] NOT NULL,
	[OrderStatusId] [int] NOT NULL,
	[TransactionTypeId] [int] NOT NULL,
	[OrderDateId] [date] NOT NULL,
	[ShippingDateId] [date] NOT NULL,
	[OrderItemQuantity] [int] NULL,
	[OrderItemDiscount] [decimal](18, 2) NULL,
	[OrderItemDiscountRate] [decimal](10, 6) NULL,
	[OrderItemProductPrice] [decimal](18, 2) NULL,
	[OrderItemProfitRatio] [decimal](10, 6) NULL,
	[Sales] [decimal](18, 2) NULL,
	[OrderItemTotal] [decimal](18, 2) NULL,
	[BenefitPerOrder] [decimal](18, 2) NULL,
	[OrderProfitPerOrder] [decimal](18, 2) NULL,
	[ProfitPerOrder] [decimal](18, 2) NULL,
	[DeliveryStatus] [nvarchar](50) NULL,
	[Late_delivery_risk] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[FactOrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FactOrderItem]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[DimCustomer] ([CustomerId])
GO
ALTER TABLE [dbo].[FactOrderItem]  WITH CHECK ADD FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[DimDepartment] ([DepartmentId])
GO
ALTER TABLE [dbo].[FactOrderItem]  WITH CHECK ADD FOREIGN KEY([LocationId])
REFERENCES [dbo].[DimLocation] ([LocationId])
GO
ALTER TABLE [dbo].[FactOrderItem]  WITH CHECK ADD FOREIGN KEY([OrderStatusId])
REFERENCES [dbo].[DimOrderStatus] ([OrderStatusId])
GO
ALTER TABLE [dbo].[FactOrderItem]  WITH CHECK ADD FOREIGN KEY([OrderDateId])
REFERENCES [dbo].[DimDate] ([DateId])
GO
ALTER TABLE [dbo].[FactOrderItem]  WITH CHECK ADD FOREIGN KEY([ProductCardId])
REFERENCES [dbo].[DimProduct] ([ProductCardId])
GO
ALTER TABLE [dbo].[FactOrderItem]  WITH CHECK ADD FOREIGN KEY([ShippingId])
REFERENCES [dbo].[DimShipping] ([ShippingId])
GO
ALTER TABLE [dbo].[FactOrderItem]  WITH CHECK ADD FOREIGN KEY([ShippingDateId])
REFERENCES [dbo].[DimDate] ([DateId])
GO
ALTER TABLE [dbo].[FactOrderItem]  WITH CHECK ADD FOREIGN KEY([TransactionTypeId])
REFERENCES [dbo].[DimTransactionType] ([TypeId])
GO
