USE [Supplychain]
GO
/****** Object:  Table [dbo].[rawdata]    Script Date: 24/05/2025 06:55:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rawdata](
	[Type] [nvarchar](50) NOT NULL,
	[Days_for_shipping_real] [tinyint] NOT NULL,
	[Days_for_shipment_scheduled] [tinyint] NOT NULL,
	[Benefit_per_order] [float] NOT NULL,
	[Sales_per_customer] [float] NOT NULL,
	[Delivery_Status] [nvarchar](50) NOT NULL,
	[Late_delivery_risk] [bit] NOT NULL,
	[Category_Id] [tinyint] NOT NULL,
	[Category_Name] [nvarchar](50) NOT NULL,
	[Customer_City] [nvarchar](50) NOT NULL,
	[Customer_Country] [nvarchar](50) NOT NULL,
	[Customer_Email] [nvarchar](50) NOT NULL,
	[Customer_Fname] [nvarchar](50) NOT NULL,
	[Customer_Id] [smallint] NOT NULL,
	[Customer_Lname] [nvarchar](50) NULL,
	[Customer_Password] [nvarchar](50) NOT NULL,
	[Customer_Segment] [nvarchar](50) NOT NULL,
	[Customer_State] [nvarchar](50) NOT NULL,
	[Customer_Street] [nvarchar](50) NOT NULL,
	[Customer_Zipcode] [int] NULL,
	[Department_Id] [tinyint] NOT NULL,
	[Department_Name] [nvarchar](50) NOT NULL,
	[Latitude] [varchar](max) NULL,
	[Longitude] [varchar](max) NULL,
	[Market] [nvarchar](50) NOT NULL,
	[Order_City] [nvarchar](50) NOT NULL,
	[Order_Country] [nvarchar](50) NOT NULL,
	[Order_Customer_Id] [smallint] NOT NULL,
	[order_date_DateOrders] [datetime2](7) NOT NULL,
	[Order_Id] [int] NOT NULL,
	[Order_Item_Cardprod_Id] [smallint] NOT NULL,
	[Order_Item_Discount] [float] NOT NULL,
	[Order_Item_Discount_Rate] [float] NOT NULL,
	[Order_Item_Id] [int] NOT NULL,
	[Order_Item_Product_Price] [float] NOT NULL,
	[Order_Item_Profit_Ratio] [float] NOT NULL,
	[Order_Item_Quantity] [tinyint] NOT NULL,
	[Sales] [float] NOT NULL,
	[Order_Item_Total] [float] NOT NULL,
	[Order_Profit_Per_Order] [float] NOT NULL,
	[Order_Region] [nvarchar](50) NOT NULL,
	[Order_State] [nvarchar](50) NOT NULL,
	[Order_Status] [nvarchar](50) NOT NULL,
	[Order_Zipcode] [int] NULL,
	[Product_Card_Id] [smallint] NOT NULL,
	[Product_Category_Id] [tinyint] NOT NULL,
	[Product_Description] [nvarchar](1) NULL,
	[Product_Image] [nvarchar](100) NOT NULL,
	[Product_Name] [nvarchar](50) NOT NULL,
	[Product_Price] [float] NOT NULL,
	[Product_Status] [tinyint] NOT NULL,
	[shipping_date_DateOrders] [datetime2](7) NOT NULL,
	[Shipping_Mode] [nvarchar](50) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
