USE [SupplyChain]
GO
/****** Object:  Table [dbo].[DimCustomer]    Script Date: 31/05/2025 00:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCustomer](
	[CustomerId] [int] NOT NULL,
	[CustomerSegment] [nvarchar](50) NULL,
	[CustomerCountry] [nvarchar](50) NULL,
	[CustomerState] [nvarchar](50) NULL,
	[CustomerCity] [nvarchar](100) NULL,
	[CustomerStreet] [nvarchar](100) NULL,
	[CustomerZipcode] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
