USE [Supplychain]
GO
/****** Object:  Table [dbo].[DimProduct]    Script Date: 28/05/2025 00:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProduct](
	[ProductId] [nvarchar](50) NOT NULL,
	[ProductName] [nvarchar](100) NULL,
	[ProductCategoryId] [nvarchar](50) NULL,
	[ProductCategoryName] [nvarchar](100) NULL,
	[ProductPrice] [decimal](18, 2) NULL,
	[ProductStatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
