USE [SupplyChain]
GO
/****** Object:  Table [dbo].[DimShipping]    Script Date: 31/05/2025 00:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimShipping](
	[ShippingId] [int] IDENTITY(1,1) NOT NULL,
	[ShippingMode] [nvarchar](50) NULL,
	[DaysForShippingReal] [int] NULL,
	[DaysForShipmentScheduled] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ShippingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
