USE [SupplyChain]
GO
/****** Object:  Table [dbo].[DimDepartment]    Script Date: 30/05/2025 01:55:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDepartment](
	[DepartmentId] [int] NOT NULL,
	[DepartmentName] [nvarchar](100) NULL,
	[Market] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
