USE [SupplyChain]
GO
/****** Object:  Table [dbo].[DimLocation]    Script Date: 02/06/2025 01:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimLocation](
	[LocationId] [int] IDENTITY(1,1) NOT NULL,
	[OrderRegion] [nvarchar](100) NULL,
	[OrderCity] [nvarchar](100) NULL,
	[OrderState] [nvarchar](100) NULL,
	[OrderCountry] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
