USE [master]
GO
/****** Object:  Database [Supplychain]    Script Date: 24/05/2025 06:53:27 ******/
CREATE DATABASE [Supplychain]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Supplychain', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Supplychain.mdf' , SIZE = 204800KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Supplychain_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Supplychain_log.ldf' , SIZE = 270336KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Supplychain].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Supplychain]
GO
/****** Object:  Table [dbo].[DimCustomer]    Script Date: 24/05/2025 06:53:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCustomer](
	[CustomerId] [int] NOT NULL,
	[CustomerFname] [nvarchar](50) NULL,
	[CustomerLname] [nvarchar](50) NULL,
	[CustomerEmail] [nvarchar](100) NULL,
	[CustomerSegment] [nvarchar](50) NULL,
	[CustomerCountry] [nvarchar](50) NULL,
	[CustomerState] [nvarchar](50) NULL,
	[CustomerCity] [nvarchar](50) NULL,
	[CustomerStreet] [nvarchar](100) NULL,
	[CustomerZipcode] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimDate]    Script Date: 24/05/2025 06:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDate](
	[DateId] [date] NOT NULL,
	[Year] [int] NULL,
	[Quarter] [int] NULL,
	[Month] [int] NULL,
	[Day] [int] NULL,
	[DayOfWeek] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimLocation]    Script Date: 24/05/2025 06:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimLocation](
	[LocationId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentId] [nvarchar](50) NULL,
	[DepartmentName] [nvarchar](100) NULL,
	[Market] [nvarchar](50) NULL,
	[Region] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[State] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimOrderStatus]    Script Date: 24/05/2025 06:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimOrderStatus](
	[OrderStatusId] [int] IDENTITY(1,1) NOT NULL,
	[OrderStatus] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimProduct]    Script Date: 24/05/2025 06:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProduct](
	[ProductId] [nvarchar](50) NOT NULL,
	[ProductName] [nvarchar](100) NULL,
	[ProductCategoryId] [nvarchar](50) NULL,
	[ProductCategoryName] [nvarchar](100) NULL,
	[ProductPrice] [decimal](18, 2) NULL,
	[ProductStatus] [bit] NULL,
	[ProductDescription] [nvarchar](255) NULL,
	[ProductImage] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimShipping]    Script Date: 24/05/2025 06:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimShipping](
	[ShippingId] [int] IDENTITY(1,1) NOT NULL,
	[ShippingMode] [nvarchar](50) NULL,
	[DaysForShippingReal] [int] NULL,
	[DaysForShipmentScheduled] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ShippingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactOrderItem]    Script Date: 24/05/2025 06:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactOrderItem](
	[FactOrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [nvarchar](50) NULL,
	[OrderItemSourceId] [nvarchar](50) NULL,
	[ProductId] [nvarchar](50) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[LocationId] [int] NOT NULL,
	[ShippingId] [int] NOT NULL,
	[OrderStatusId] [int] NOT NULL,
	[OrderDateId] [date] NOT NULL,
	[ShippingDateId] [date] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Sales] [decimal](18, 2) NULL,
	[BenefitPerOrder] [decimal](18, 2) NULL,
	[OrderItemTotal] [decimal](18, 2) NULL,
	[OrderItemDiscount] [decimal](18, 2) NULL,
	[OrderItemDiscountRate] [decimal](5, 4) NULL,
	[ProfitPerOrder] [decimal](18, 2) NULL,
	[LateDeliveryRisk] [bit] NULL,
	[DeliveryStatus] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[FactOrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rawdata]    Script Date: 24/05/2025 06:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rawdata](
	[Type] [nvarchar](50) NOT NULL,
	[Days_for_shipping_real] [tinyint] NOT NULL,
	[Days_for_shipment_scheduled] [tinyint] NOT NULL,
	[Benefit_per_order] [float] NOT NULL,
	[Sales_per_customer] [float] NOT NULL,
	[Delivery_Status] [nvarchar](50) NOT NULL,
	[Late_delivery_risk] [bit] NOT NULL,
	[Category_Id] [tinyint] NOT NULL,
	[Category_Name] [nvarchar](50) NOT NULL,
	[Customer_City] [nvarchar](50) NOT NULL,
	[Customer_Country] [nvarchar](50) NOT NULL,
	[Customer_Email] [nvarchar](50) NOT NULL,
	[Customer_Fname] [nvarchar](50) NOT NULL,
	[Customer_Id] [smallint] NOT NULL,
	[Customer_Lname] [nvarchar](50) NULL,
	[Customer_Password] [nvarchar](50) NOT NULL,
	[Customer_Segment] [nvarchar](50) NOT NULL,
	[Customer_State] [nvarchar](50) NOT NULL,
	[Customer_Street] [nvarchar](50) NOT NULL,
	[Customer_Zipcode] [int] NULL,
	[Department_Id] [tinyint] NOT NULL,
	[Department_Name] [nvarchar](50) NOT NULL,
	[Latitude] [varchar](max) NULL,
	[Longitude] [varchar](max) NULL,
	[Market] [nvarchar](50) NOT NULL,
	[Order_City] [nvarchar](50) NOT NULL,
	[Order_Country] [nvarchar](50) NOT NULL,
	[Order_Customer_Id] [smallint] NOT NULL,
	[order_date_DateOrders] [datetime2](7) NOT NULL,
	[Order_Id] [int] NOT NULL,
	[Order_Item_Cardprod_Id] [smallint] NOT NULL,
	[Order_Item_Discount] [float] NOT NULL,
	[Order_Item_Discount_Rate] [float] NOT NULL,
	[Order_Item_Id] [int] NOT NULL,
	[Order_Item_Product_Price] [float] NOT NULL,
	[Order_Item_Profit_Ratio] [float] NOT NULL,
	[Order_Item_Quantity] [tinyint] NOT NULL,
	[Sales] [float] NOT NULL,
	[Order_Item_Total] [float] NOT NULL,
	[Order_Profit_Per_Order] [float] NOT NULL,
	[Order_Region] [nvarchar](50) NOT NULL,
	[Order_State] [nvarchar](50) NOT NULL,
	[Order_Status] [nvarchar](50) NOT NULL,
	[Order_Zipcode] [int] NULL,
	[Product_Card_Id] [smallint] NOT NULL,
	[Product_Category_Id] [tinyint] NOT NULL,
	[Product_Description] [nvarchar](1) NULL,
	[Product_Image] [nvarchar](100) NOT NULL,
	[Product_Name] [nvarchar](50) NOT NULL,
	[Product_Price] [float] NOT NULL,
	[Product_Status] [tinyint] NOT NULL,
	[shipping_date_DateOrders] [datetime2](7) NOT NULL,
	[Shipping_Mode] [nvarchar](50) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[FactOrderItem]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[DimCustomer] ([CustomerId])
GO
ALTER TABLE [dbo].[FactOrderItem]  WITH CHECK ADD FOREIGN KEY([LocationId])
REFERENCES [dbo].[DimLocation] ([LocationId])
GO
ALTER TABLE [dbo].[FactOrderItem]  WITH CHECK ADD FOREIGN KEY([OrderStatusId])
REFERENCES [dbo].[DimOrderStatus] ([OrderStatusId])
GO
ALTER TABLE [dbo].[FactOrderItem]  WITH CHECK ADD FOREIGN KEY([OrderDateId])
REFERENCES [dbo].[DimDate] ([DateId])
GO
ALTER TABLE [dbo].[FactOrderItem]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[DimProduct] ([ProductId])
GO
ALTER TABLE [dbo].[FactOrderItem]  WITH CHECK ADD FOREIGN KEY([ShippingId])
REFERENCES [dbo].[DimShipping] ([ShippingId])
GO
ALTER TABLE [dbo].[FactOrderItem]  WITH CHECK ADD FOREIGN KEY([ShippingDateId])
REFERENCES [dbo].[DimDate] ([DateId])
GO
USE [master]
GO
